<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
	<appSettings>
		<add key="NomeClientes" value="D:\Edson\Estudos\Programação\back-end\C-sharp-estudos\arquivos para testes\teste-Cadastrando clientes POO\arq"/>
		<add key="DatabaseArquivoCadastro" value="D:\Edson\Estudos\Programação\back-end\C-sharp-estudos\arquivos para testes\teste-Cadastrando clientes POO\dbClientes.txt"/>
	</appSettings>
</configuration>